
.two>h1{
    text-align:center;
   }
  
.one{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between; 
       }
.two{
    width:25%;
    height:50%;
   }

@media only screen and (min-width:800px){
}
.form{
    display:flex;
    /* flex-wrap:wrap; */
}
.three{
    
    box-shadow:0 3px 6px gray,0 10px 15px gray;
    margin-right:20%;
    /* flex-wrap:wrap; */
    
}
.main{
    /* margin-left: 20%; */
    margin-right:10%;
}
.bottom{
    margin-top: 20px;
}