.main{
    display:flex;
    flex-direction:column;
    float:right;
    justify-content:space-between;
}
.two>h1{
    text-align:center;
   }
  
.one{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between; 
       }
.two{
    width:50%;
    height:50%;
   }
.three{
    
    box-shadow:0 3px 6px gray,0 10px 15px gray;
    margin-right:50%;
    display:flex;
    flex-wrap:wrap;
}
@media only screen and (min-width:800px){
}